

.nav__item {
  padding: 5px;

  @media (max-width: 1350px) {
    margin-bottom: 15px;
    opacity: 0;
  }

  &--fadeIn {
    animation: fadeInRight 0.3s ease;
    animation-fill-mode: both;
  }
}

.nav__link {
  position: relative;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: lighten($color-white-main, 20%);
  text-shadow: $text-shadow;
  text-transform: uppercase;
  transition:  0.3s ease;

  @media (max-width:1350px) {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    left: 15px;
    right: 15px;
    height: 2px;
    opacity: 0;
    background-color: $color-blue-dark;
    box-shadow: $box-shadow;
    transition: 0.3s ease;

    @media (max-width:1350px) {
      top: 36px;
    }
  }
  
    &:hover,
    &.active {
      transform: translateY(-5px);

      &::before {
        transform: translateY(8px);
        opacity: 1;
      }
    }
}
