
.news-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  min-width: 71rem;
  margin: 30px 20px 0;
  padding: 15px 20px;
  @include backgroundGlassEffect;
  @include animationFadeIn;

  @media (max-width: $middle-screen) {
    min-width: 61rem;
    padding: 10px 20px;
  }
  
  &__data{
    flex-basis: 100%;
    font-size: 1.4rem;
    margin-bottom: 3px;
    letter-spacing: 2px;
  }

  &__title{
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: $color-blue;
  }

  &__img {
    width: 24rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: $box-shadow;

    @media (max-width: $middle-screen){
      width: 20rem;
      height: 12rem;
    }
  }

  &__text-wrapper {
    flex-basis: 60%;

    @media (max-width: $small-screen) {
      flex-basis: 100%;
      margin-top: 15px;
      padding: 0;
    }
  }

  &__text {
    width: 100%;
    font-size: 1.4rem;
  }

  &__btn {
    margin-top: 20px;

    @media (max-width: $middle-screen) {
      margin-top: 10px;
    }
  }
}