
.news-container {
  width: 40%;
  margin: 30px 20px 0;
  padding: 15px;
  padding-right: 20px;
  font-size: 1.8rem;
  border-radius: 10px;
  background-image: $background-gradient-main, $background-img-desen;
  background-blend-mode: hue;
  box-shadow: $box-shadow;
  
  &__data{
    font-size: 1.4rem;
    margin-bottom: 3px;
    letter-spacing: 2px;
  }

  &__title{
    display: block;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: $color-blue;
  }

  &__img {
    display: block;
    width: 50%;
    margin:4px 15px 0 0;
    float: left;
    border-radius: 10px;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__btn {
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 1.2rem;
  }
}