
.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 5px 10px;
  margin: 30px 20px 0;
  @include backgroundGlassEffect;
  @include animationFadeIn(.2);
  
  &__img {
    display: block;
    height: 11rem;
    width: 11rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    opacity: .85;
    box-shadow: $box-shadow;

    @media (max-width:$middle-screen) {
      height: 9rem;
      width: 9rem;
    }
  }

  &__description {
    width: 24rem;
  }

  &__name {
    width: 90%;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: $color-blue;
  @include animationFadeIn(0.4);
  }

  &__tel,
  &__mail {
    font-size: 1.4rem;
  }
}
