
.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  padding: 10px 20px 10px 20px;
  margin: 30px 20px 0;
  font-size: 1.2rem;
  border-radius: 10px;
  background-image: $background-gradient-main, $background-img-desen;
  background-blend-mode: multiply;
  box-shadow: $box-shadow;

  &__img {
    display: block;
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: $color-blue;
  }

  &__about {
    margin-bottom: 10px;
  }

  &__about,
  &__tel,
  &__mail {
    font-size: 1.4rem;
  }
}
