.gallery {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: inherit;
   background-blend-mode: inherit;

   &__container {
      display: flex;
      justify-content: space-between;
      width: 345px;
      margin: 30px 20px 0;
      padding: 15px;
      font-size: 1.8rem;
      @include backgroundGlassEffect;
      @include animationFadeIn;

   }

   &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   
   &__img { 
      width: 150px;
      margin-right: 30px;
      opacity: .75;
      border-radius: 5px;
      box-shadow: $box-shadow;
   }
      
    &__text {
      text-align: left;
   }

   &__btn {
      margin-top: 0;
   }
}