
.home-page {
  display: flex;
  justify-content: center;
  max-width: 80rem;
  background: inherit;
  background-blend-mode: inherit;
  border-radius: 10px;

  &__name-container {
    @include animationFadeIn();

    &--in {
      opacity: 0;
      display: none;
    }

    h2 {
      margin-top: 3rem;
    }
  }

  &__btn {
    margin-top: 5rem;
  }
}

.home-page__main-content {
  display: none;
  opacity: 0;
  @include defaultPage;
  
  &--out {
    opacity: 1;
    display: block;
  }
  p:not(:first-of-type) {
    margin-top: 30px;
  }
}
