.newsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 190px;
  margin-bottom: 100px;
  background: inherit;
  background-blend-mode: inherit;
  
  h1 {
    flex-basis: 100%
  }
}