
.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include padding();
  background-image: $background-gradient-main, $background-img-main;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 1920px;
  color: $color-white-main;
}
