
.footer {
  position: fixed;  
  bottom: 0;
  left: 0;
  right: 0;
  @include maxWidth;
  color: lighten($color-white-main, 20%);
  z-index: 1;
  
  &__img-box {
    height: 80px;
    background-image: url('./assets/img/footer.png');
    background-position: top left;
  }

  &__text-content{
    display: flex;
    align-items: center;
    height: 3.5rem;
    @include padding();
    background-color: $color-blue-dark;

    @media (max-width:$middle-screen) {
      height: 2rem;
    }

    p {
      font-size: 1.4rem;
      margin-right: 2rem;
      margin-bottom: 0.8rem;
      text-shadow: $text-shadow;
      @include animationFadeIn;
    }
  
    p:nth-child(2) {
      margin-right: 4rem;
    }
  }

}