
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  @include maxWidth;
  @include padding(20,120);
  transition: 0.3s ease;
  z-index: 20;

  &--change-on-scroll {
    @include backgroundShadow(0, 0.7);
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  &__item {
    padding: 5px;
  }
}

.nav__logo {
  height: 70px;
  min-width: 140px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
