$heightNav: 10rem;
$heightSmallerNav: 7.5rem;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $heightNav;
  @include maxWidth;
  @include padding(10, 120);
  transition: all 0.3s ease;
  z-index: 3;

  &--change-on-scroll {
    background-color: rgba(0, 0, 0, 0.158);

  }

  &__img-box {
    height: 80px;
    background-position: top left;
    position: fixed;
    top: calc(#{$heightNav} - 25px);
    left: 0;
    width: 100%;
    transform: rotate(180deg);
    transition: all 0.3s ease;
    opacity: 0;

    &--change-on-scroll {
      opacity: 1;
    }
  }

  &__logo-container {
    height: 70px;
    transition: 0.3s ease;
    z-index: 3;
  }

  &__logo-img {
    height: 100%;
    object-fit: cover;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    @media (max-width: $middle-screen) {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 100%;
      height: 100vh;
      width: 100%;
      background-color: #000;
      transition: .3s ease;
      z-index: 1;
    }

    &--fadeInNav {
      @media (max-width: $middle-screen) {
        transform: translateX(-100%);
      }
    }
  }
}

.hamburger {
  display: none;
  width: 3rem;
  margin-top: 5px;
  cursor: pointer;
  z-index: 3;

  &:hover &__bar:nth-child(3) {
    width: 100%;
  }

  @media (max-width: $middle-screen) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &--close {
    height: 3rem;
    transform: rotate(135deg);
    transition: all .3s ease;
  }

  &__bar {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: $color-white-main;
    box-shadow: $box-shadow;
    transition: width .2s ease-in, opacity .1s ease-in, transform .3s ease;

    &:last-child {
      margin: 0;
      width: 60%;
    }

    &--close {
      margin: 0;
    }

    &--close:nth-child(1) {
      transform: rotate(90deg) translateX(2px);
    }

    &--close:nth-child(3) {
      opacity: 0;
    }
  }
}