
.topBar{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  @include maxWidth;
  @include padding();
  background-color: rgba(30, 88, 255, 0.65);
  box-shadow: $box-shadow;
  color: lighten($color-white-main, 20%);
  font-size: 1.5rem;
  z-index: 20;

  p {
    font-size: 1.4rem;
    margin-right: 20px;
  }

  p:nth-child(2) {
    margin-right: 40px;
  }
}