@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=latin-ext");

@import "../base/variables";
@import "../base/mixins";
@import "../base/base";

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include padding();
  background-image: $background-gradient-main, $background-img-main;
  background-blend-mode: multiply, multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 1920px;
  color: $color-white-main;

}
