@import '../base/variables';
@import '../base/mixins';

.topBar{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  @include padding();
  font-size: 1.5rem;
  background-image: $background-gradient-main, $background-img-desen;
  background-blend-mode: multiply;

  p {
    font-size: 1.4rem;
    margin-right: 20px;
  }

  p:nth-child(2) {
    margin-right: 40px;
  }
}