@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=latin-ext");

$font-family-main: "Montserrat", sans-serif;

@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  font-family: $font-family-main;
  font-size: 10px;
  @include maxWidth;
  background-color: $color-blue-dark;

  @media (max-width: $middle-screen) {
    font-size: 9px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  line-height: 150%;
  letter-spacing: 1px;
  text-shadow: $text-shadow;
  
  @media (max-width: $middle-screen) {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: $text-shadow;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  text-align: justify;
}
