
@mixin maxWidth {
  max-width: 1920px;
  margin: 0 auto;
}

@mixin padding($top-bott:0, $right-left:120) {
  padding: $top-bott+px $right-left+px;

    @media (max-width: $middle-screen) {
      padding: $top-bott+px 80px;
    }

    @media (max-width: $small-screen) {
      padding: $top-bott+px 40px;
    }
  }

@mixin animationFadeIn($delay:.2)  {
  animation: fadeIn .4s $delay+s ease;
  animation-fill-mode: both;
}

@mixin backgroundGlassEffect {
  overflow: hidden;
  position: relative;
  text-shadow: $text-shadow;
  background: inherit;
  background-blend-mode: multiply;
  border-radius: 7px;
  box-shadow: $box-shadow;
  z-index: 1;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background: inherit;
    background-blend-mode: multiply;
    filter: blur(10px);
    z-index: -1;
  }
}

@mixin defaultPage($width:80) {
  max-width: $width + rem;
  padding: 20px 30px;
  @include backgroundGlassEffect;
  @include animationFadeIn;

    
  &__title {
      margin-bottom: 2rem;
  }
}