
$color-green-logo: #9dff88;
$color-green-main: rgba(136, 193, 61, 0.7);

$color-blue: #3f95e6;
$color-blue-dark: #1e58ff;

$color-black-main: #313131;
$color-white-main: #eeeeee;

$background-img-main: url("./assets/img/miekinia-base-min.jpg");

$background-gradient-main: linear-gradient(#5bade8 0%, #d2d7d8 100%);

$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
$middle-screen: 1370px;
$small-screen: 850px;
$Xsmall-screen: 564px;
