
$color-green-logo: #8bc43f;
$color-green-main: rgba(136, 193, 61, 0.35);

$color-blue: #3f95e6;
$color-blue-dark: #1e58ff;

$color-black-main: #313131;
$color-white-main: #eeeeee;

$background-img-main: url("./assets/img/miekinia-base-min.jpg");

$background-gradient-main: linear-gradient(to right, #b2bdc5 0%, #a0b0b6 100%);

$text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

