
$color-green-logo: #8bc43f;
$color-green-main: rgba(136, 193, 61, 0.35);

$color-blue: #3f95e6;
$color-blue-dark: #1e58ff;

$color-black-main: #313131;
$color-white-main: #d0d0d0;

$background-img-main: url("./assets/img/miekinia-base.jpg");

$background-gradient-main: linear-gradient(to right, #868f96 0%, #596164 100%);

$text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
$box-shadow-big: 0 2px 5px rgba(0, 0, 0, 0.6);

